$background_color: #DDDBD2;
$nav_bg_color: rgba(255, 255, 255, 0.5);
$collapsed_nav_bg_color: #888383;
$font_family: 'Open Sans';
$font_size: 12px;
$transition_speed: 2;
$transition_type: slide;



/* STYLES */

body {
	background: $background_color;
	margin:0;
}
a {
	text-decoration: none;
}
nav {
	height: 60px;
	ul {
		-webkit-margin-before: 0px;
		-webkit-margin-after: 0px;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		-webkit-padding-start: 40px;
		list-style: none;
		line-height: 3.7em;
		li {
			margin: 0 10px;
			a {
				color: #616161;
			}
		}
	}
}

/* FUNCTIONAL CSS */
header {
	position: relative;
}
nav {
	width: 100%;
	background: $nav_bg_color;
	ul {
		li {
			display: inline;
		}
	
	}
}

/* MEDIA QUERIES */

@media(max-width: 800px){
	header {
		ul {
			position: absolute;
			left: -200px;
			width: 160px;
			background: $collapsed_nav_bg_color;
			li {
				display: block;
			}
		}
	}
}